/* Bike Shop CSS
================================================== 
================================================== */

/*NOTE: Why do the imported fonts not work*/
@import url("https://use.typekit.net/zhs6aor.css");

.wrapper,
header h1 {
  max-width: 1344px;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
}

body {
  font: 1.6rem program, Arial, sans-serif;
  line-height: 1.25;
  color: #666666;
}

h2 {
  text-transform: uppercase;
  font-size: 3.6rem;
  color: #111111;
  font-weight: bold;
}
h3 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #dddddd;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
}

/*header section*/
header {
  background: no-repeat url("../images/banner.jpg");
  background-size: cover;
}

h1 {
  padding: 10rem 0;
  width: 100%;
  text-align: left;
}
h1 img {
  display: inline-block;
  width: 25%;
}
nav {
  background-color: rgba(17, 17, 17, 85%);

  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #999999;
}

nav li {
  display: inline-block;

}

nav a {
  width: 100%;
  display: inline-block;
  color: #999999;
  padding: 1.5rem;
}
[aria-current="true"], nav a:hover{
    color: #dddddd;
    background-color: #111111;
    opacity: 100%;
  }

a{
    cursor: pointer;
}


button {
  display: inline-block;
  padding: 2rem;
  background-color: #c0392b;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.roundButton{
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
}

img {
  display: block;
  width: 100%;
}

#categories {
  text-align: left;
  background-color: #111111;
  /*NOTE TO SELF: Ask why this is needed to text align center*/
  padding: 3rem;
  color: #ffffff;
}
#categories h2 {
  display: none;
  color: #dddddd;
}
#categories h3 {
  background: rgba(0, 0, 0, 0.5);
  color: #dddddd;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  margin-bottom: 2rem;
}

#categories p {
  background-color: #c0392b;
  font-weight: bold;
  width: calc(100% / 3);
  margin: 0 auto;
  padding: 1rem;
}

#categories li {
  padding: 5rem 0;
  text-align: center;
  width: calc(100% / 3 - 2rem / 3);
  float: left;
  background-size: cover;
}

#categories li:not(:nth-of-type(3)) {
  margin-right: 1rem;
}
#bikesLi {
  background: no-repeat url("../images/bikes.jpg");
}

#accLi {
  background: no-repeat url("../images/speedometer.jpg");
}

#apparelLi {
  background: no-repeat url("../images/backpack.jpg");
}
/*featured products home page*/
#featured {
  color: #666666;
  margin: 3rem auto;
}
#featured h2 {
  color: #666666;
}
#featured h2 span {
  font-weight: bold;
  color: #111111;
  display: block;
}
#featured h3 {
  font-weight: bold;
  color: #444444;
}
#featured li {
  filter: grayscale(100%);
  border: 2px solid transparent;
  text-align: left;
  position: relative;
  padding: 1rem;
  display: block;
  width: calc(25% - 3rem / 4);
  float: left;
}

#featured li:hover {
  border: 2px solid #888888;
  filter: grayscale(0%);
}

#featured li button {
  display: none;
  position: absolute;
  margin-left: 1rem;
  width: calc(100% - 2rem);
  top: 35.5%;
  left: 0%;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
}
#featured li:hover button {
  display: block;
}

/*ask why changing from 2rem to 2rem makes evrything fit*/
#featured li:not(:nth-of-type(4n)) {
  margin-right: 1rem;
}

#featured li:nth-of-type(4n + 1) {
  clear: left;
}
/*NOTE: Ask why items dont center event with text align center.*/

/*Rating system*/

meter {
  -webkit-appearance: none;
  display: block;
  height: 2rem;
  width: 10rem;
  background: no-repeat url("../images/ratings.png");
  background-size: cover;
  background-position: 75% 80%;
}
.mainPrice {
  font-size: 20px;
  color: #444444;
  font-weight: bold;
}
/*membership benefits*/

#benefits {
  padding: 2rem;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/gears.jpg");
  background-size: cover;
  font-size: 1.6rem/1.25;
  color: #888888;
}
#benefits h2 {
  color: #ffffff;
}
#benefits h3 {
  margin-bottom: 2rem;
  color: #dddddd;
}

#benefits li {
  padding: 2rem;
  display: block;
  width: calc(100% / 3 - 4rem / 3);
  float: left;
}

#benefits li:not(:nth-of-type(3)) {
  margin-right: 2rem;
}

#benefits img {
  display: inline-block;
  padding: 3rem;
  width: 50%;
  border: 3px solid #dddddd;
  filter: grayscale(1);
}
#benefits input {
  display: inline-block;
  padding: 0.5rem;
}
#benefits button {
  padding: 0.5rem;
}

/*Start 2nd page css*/
#shopTop {
  background-color: #111111;
}
#shopTop h3 {
  /*Blue is a placeholder color*/
  background-color: blue;
  padding: 4rem;
  color: #dddddd;
  font-weight: bold;
}
#shopTop span {
  color: #888888;
  font-weight: normal;
  display: block;
}
#shopTop li {
  text-align: center;
  position: relative;
  padding: 2rem;
  width: calc(25% - 6rem / 4);
  float: left;
}
#shopTop li:not(:nth-of-type(4)) {
  margin-right: 2rem;
}
#featuredProducts {
  background-color: #dddddd;
  padding: 5rem;
}
#featuredProducts li {
  background-color: #ffffff;
  border: 2px solid transparent;
  text-align: left;
  padding: 2rem;
  margin-bottom: 2rem;
  width: calc(25% - 3rem / 4);
  float: left;
}

#featuredProducts li:hover {
  border: 2px solid #888888;
}

#featuredProducts li:not(:nth-of-type(4n)) {
  margin-right: 1rem;
}

#featuredProducts li:nth-of-type(4n + 1) {
  clear: left;
}
#featuredProducts li h3{
    color: #444444;
}
#featuredProducts li li {
  font-size: 0;
  background-color: #c0392b;
  padding: 0;
  margin-top: 1rem;
  width: calc(100% / 3 - 2rem / 3);
  float: left;
}

#featuredProducts li li:first-of-type {
  font-size: 0;
  background-color: #111111;

  margin-top: 1rem;
  width: calc(100% / 3 - 0.5rem / 3);
  float: left;
}

#featuredProducts li li button {
  width: 100%;
}

#featuredProducts li li:first-of-type button {
  background-color: #111111;
}
/*NOTE: Ask why items dont center event with text align center.*/
#featuredProducts li li:not(:nth-of-type(3n)) {
  margin-right: 0.25rem;
}

#featuredProducts img {
  width: 100%;
}

body section::after {
  content: " ";
  display: block;
  clear: both;
}

/*Contact Page section*/
#contactBox {
  color: #666666;
  padding: 5rem;
}

#contactBox h2 {
  font-size: 3.6rem;
  color: #111111;
  font-weight: bold;
}
#contactBox h3 {
  font-size: 2rem;
  color: #444444;
  font-weight: bold;
}

#contactBox article {
  width: calc(50% - 2rem);
  float: left;
}

#contactBox article:first-of-type {
  margin-right: 4rem;
}
#contactInfo li {
  background-color: #999999;
  text-align: center;
  width: calc(100% / 3 - 4rem / 3);
  float: left;
}
#contactInfo li:not(:nth-of-type(3)) {
  margin-right: 2rem;
}
#contactInfo p,
#contactInfo li {
  margin: 2rem auto;
}
#contactForm {
  border: 5px solid rgba(102,102,102, 50%);
  padding: 3rem;
}

#contactForm label {
  display: none;
}
#contactForm input,
#contactForm textarea {
  border: 2px solid rgba(102,102,102,50%);
  display: block;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
}

 
/*events page section*/
#mainEvent {
  padding: 5rem 0;
}
#mainEvent section {
  width: calc(50% - 5rem);
  float: left;
}
#mainEvent section:first-of-type {
  margin-right: 10rem;
}

#mainEvent h2 {
  font-size: 3.6rem;
  color: #111111;
  font-weight: bold;
}

#mainDescription h2,
p {
  margin-bottom: 2rem;
}

#eventMeta {
  background-color: #e6e6e6;
  padding: 3rem;
}

#eventMeta span {
  display: block;
  color: #444444;
  font-size: 2rem;
  font-weight: bold;
}
#eventMeta div {
  width: calc(50% - 1rem);
  padding: 3rem;

  float: left;
}

#eventMeta div:not(:nth-of-type(2n)) {
  margin-right: 2rem;
}

#eventMeta div:nth-of-type(2n + 1) {
  clear: left;
}

#eventSchedule {
  padding: 3rem 0;

  background-color: #e6e6e6;
}
#eventSchedule h2 {
  font-size: 3.6rem;
  color: #111111;
  font-weight: bold;
  display: inline-block;
}

#eventSchedule h3 {
  font-size: 2rem;
  color: #444444;
  font-weight: bold;
}

#eventSchedule button {
  float: right;
}

/*REFER BACK TO SPACING AND POSITIONS*/
#widget {
  position: relative;
  margin-top: 3rem;
  background-color: #ffffff;
  padding: 2rem 2rem 2rem calc(100% / 3);
}
#widget nav {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #c0392b;
  opacity: 100%;
  width: calc(100% / 3);
  height: 100%;
}
/*************************************************/
#widget nav a{
    color:#ffffff;
}
#widget nav a:hover {
  background-color: #ffffff;
  color: #444444;
  
  border-radius: 3rem 0rem 0rem 3rem;
  /* width: calc(100% / 3 - 1.5rem);
    padding: 0;
    height: 100%;
    margin-right: 1.5rem;
    float: left; */
  /* width: 90%; */
}

#dec24 li {
  margin: 2rem;
  background-color: #e6e6e6;
  padding: 1rem;
}

#widget dt,
dd {
  display: inline-block;
  padding: 1rem;
}
#widget nav li{
  display: block;
  padding: 0;
  color: #111111;
  margin-left: 1rem;
}
body > main::after {
  content: " ";
  display: block;
  clear: both;
}
/*footer section*/
footer {
  padding: 5rem;
  background-color: #111111;
  
  color: #888888;
}

footer section {
  background-color: #111111;
  display: block;
  width: calc(100% / 4 - 6rem / 4);
  float: left;
}

footer ul:not(:nth-of-type(4)) {
  margin-right: 1rem;
}
/*NOTE: Ask why clearfix doesn't fix footer*/
body > footer::after {
  content: " ";
  display: block;
  clear: both;
}

#misc{
    font-size: 1.6rem;
    color: #FFFFFF;
    font-weight: bold;
}
#socials{
  text-align: right;
  font-size: 0;
  
  
}
#socials li{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    
}
#socials a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/social.png");
    background-size: cover;
}
#socials a:hover{
    background-image: url("../images/social.png");
}
 a[href*="twitter.com"]{
    background-position: 25% 0;
}

a[href*="youtube.com"]{
    background-position: 50% 0;
}

a[href*="google.com"]{
    background-position: 75% 0;
}

a[href*="instagram.com"]{
    background-position: 100% 0;
    margin-right: 0;
}