/* Bike Shop CSS
================================================== 
================================================== */

/*NOTE: Why do the imported fonts not work*/
@import url("https://use.typekit.net/zhs6aor.css");


html {
	font-size: 62.5%;
}

body, header, nav, section, footer{
    
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    
}

#mainHead{
    background-image: url("../images/banner.jpg");
}

footer{
    display: block;
    
    background-color: #111111;
    font-size: 1.6rem/1.25;
    color: #888888;
}

footer section{
    background-color: #111111;
    display:block;
    width: calc(100%/4 - 6rem/4);
    float: left;
}

footer ul:not(:nth-of-type(4)){
    margin-right: 1rem;
}
/*NOTE: Ask why clearfix doesn't fix footer*/
body > footer::after{
	content: "";
	display: block;
    clear: both;
}

footer h4{
    font-size: 1.6rem;
    color: #ffffff;
}


/*NOTE: Ask why clearfix doesn't fix footer*/
body > footer::after{
	content: "";
	display: block;
    clear: both;
}
nav{
    background-color: #111111;
    opacity: 85%;
    text-align: center;
    font-size: 2rem;
}



nav li{
    display: inline-block;
    
    color: #999999;
    opacity: 85%;
}


nav li:hover{
   
   color: #dddddd;
   background-color: #111111;
   
   opacity: 100%;
}

nav a{
    display: inline-block;
    color: #999999;
    padding: 1.5rem;
}

nav a:hover{
    color: #dddddd;
}


#Categories{
    background-color: #111111;
    /*NOTE TO SELF: Ask why this is needed to text align center*/
    padding: 3rem;
    color: #ffffff;
    
}

#Categories ul{
    width: 100%;
    text-align: center;
}
#Categories li {
    display:block;
    width: calc(100%/3 - 4rem/3);
    float: left;
    
}


#featured li {
    display: block;
   width: calc(25% - 6rem/4);
   float: left;
    
}

/*ask why changing from 2rem to 2rem makes evrything fit*/
#featured li:not(:nth-of-type(4)) {
	margin-right: 1rem;
}
/*NOTE: Ask why items dont center event with text align center.*/


 #featured img{
     width: 75%;
 }

 #benefits{
     background-image: url("../images/gears.jpg");
     font-size: 1.6rem/1.25;
     color: #888888
 }

 #benefits h3{
     font-size: 2rem;
     
     color: #dddddd;
 }
 #benefits li{
    display:block;
    width: calc(100%/3 - 4rem/3);
    float: left;
 }

 #benefits li:not(:nth-of-type(3)){
     margin-right: 2rem;
 }

 /*Start 2nd page css*/
 .item{
    display: block;
    width: calc(25% -6rem/4);
    float: left;
}

.item li:not(:nth-of-type(4)) {
	margin-right: 1rem;
}
 .item img{
     width: 25rem;
 }
 body > section::after{
	content: "";
	display: block;
	clear: both;
}