/* Bike Shop CSS
================================================== 
================================================== */

html {
	font-size: 62.5%;
}

body, header, nav, section{
    
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    
}

header{
    background-image: url("/images/banner.jpg");
}
nav{
    background-color: #111111;
    opacity: 85%;
    text-align: center;
    font-size: 2rem;
}



nav li{
    display: inline-block;
    
    color: #999999;
    opacity: 85%;
}


nav li:hover{
   
   color: #dddddd;
   background-color: #111111;
   
   opacity: 100%;
}

nav a{
    display: inline-block;
    color: #999999;
    padding: 1.5rem;
}

nav a:hover{
    color: #dddddd;
}


#Categories{
    background-color: #111111;
    /*NOTE TO SELF: Ask why this is needed to text align center*/
    padding: 3rem;
    color: #ffffff;
    
}

#Categories ul{
    width: 100%;
}
#Categories li {
    display:block;
    width: calc(100%/3 - 4rem/3);
    float: left;
    
}
#Categories li:not(:nth-of-type(3)) {
	margin-right: 2rem;
}

#featured li{
    width: calc(25% -6rem/4);
    float: left;
}

#featured li:not(:nth-of-type(4)) {
	margin-right: 2rem;
}
 #featured img{
     width: 25rem;
 }

 #benefits{
     background-image: url("/images/gears.jpg");
 }

 #benefits li{
    display:block;
    width: calc(100%/3 - 4rem/3);
    float: left;
 }

 #benefits li:not(:nth-of-type(3)){
     margin-right: 2rem;
 }
 body > section::after{
	content: "";
	display: block;
	clear: both;
}